Gemfile.lock
config/overrides
.buildpath
.byebug_history
.project
.pydevproject
.metadata/
Gemfile.lock
config/
db/
files/
log/
public/
tmp/
.metadata/
coverage/
.pydevproject
.github/
.hgignore
.rubocop.yml
.rubocop_todo.yml
.stylelintignore
.stylelintrc
CONTRIBUTING.md
Gemfile
Rakefile
app/
appveyor.yml
bin/
config.ru
doc/
extra/
package.json
yarn.lock
lib/generators/
lib/plugins/
lib/redmine.rb
lib/redmine/
lib/tasks/ciphering.rake
lib/tasks/email.rake
lib/tasks/initializers.rake
lib/tasks/load_default_data.rake
lib/tasks/locales.rake
lib/tasks/migrate_from_mantis.rake
lib/tasks/migrate_from_trac.rake
lib/tasks/redmine.rake
lib/tasks/reminder.rake
lib/tasks/yardoc.rake


